:root {
    --max-width:80rem;
    --min-width: 20rem;
    --accent-color: #00c2ff;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family:Roboto, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    min-width: var(--min-width);
    background-image: url(../img/11-volkswagen-ta.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header, .content, .footer {
    width: 100%;
    margin: 0 auto;
    padding: 1rem; 
}

.header {
    max-width: var(--max-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    max-width: 8.25rem;
    align-items: center;
    font-size: 2.625em;
    font-weight: bold;
}

.logo__img {
    width: 100%;
    margin-right: 0.5rem;
}

.menu-list {
    margin: 0;
}

.menu-list__item {
    display: inline-block;
    margin: 0 0.5rem;
    font-size: 1.5rem;
    text-decoration: none;
}

.menu-list__item:last-child {
    margin-right: 0;
}

// content 
.content {
    flex-grow: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.content {
    flex-grow: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
  }
  
  .slideButton {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    font-size: 3rem;
    cursor: pointer;
  }
  
  .prevSlide {
    left: -2rem;
  }
  
  .nextSlide {
    right: -2rem;
  }
  
  .content__claim {
    font-size: 64px;
    color: var(--accent-color);
    margin: 0;
  }
  
  .content__subclaim {
    font-size: 36px;
    margin: 0.5rem 0;
    margin-bottom: 2rem;
  }
  
  /* Footer */
  .footer-wrapper {
    background-color: black;
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
  }
  
  .footer__widget {
    font-size: 24px;
  }
  
  .footer__widget__title {
    color: var(--accent-color);
    margin: 0 0 1rem 0;
  }
  
  .footer__widget__text {
    margin: 0;
  }
  
  /* Responsive stuff */
  @media screen and (max-width: 1280px) {
    .header,
    .footer {
      flex-direction: column;
      text-align: center;
    }
  
    .menu {
      margin-top: 1.5rem;
    }
  
    .content {
      align-items: center;
    }
  
    .footer__widget {
      margin-bottom: 1rem;
    }
  }

  .prevSlide {
    border: 5px red solid;
    font-size: 500px;
    z-index: 10;
    width: 100px;
  }
  